[2011-06-26 04:14] moparisthebest opened #26 "remove un-used import from ssl_openssl_lib.pas"
Basically, 'Libc' isn't used, and worse yet, it causes compilation to fail under 64-bit linux, so the fix is quite easy, don't import it!

[code]

Thanks. :)

[2011-07-22 13:40] #26 closed, assigned to nobody

[2012-01-08 08:14] davis-junior opened #67 "SaveScreenshot() - PNG Corruption"
When saving as .png, the file which is created is corrupt (unable to be viewed) and always only 8 bytes.

There is supposed to be .png support, correct?

[2012-01-15 12:51] #67 closed, assigned to nobody

[2012-02-16 08:14] cohenadair opened #75 "FindTextTPAInTPA not always working"
I'm guessing it has something to do with the height of the text and the text I'm trying to find has lines really close together, but hopefully it can be changed to work in that kind of situation.

http://img687.imageshack.us/img687/1077/20780891.png -- I'm trying to find thirst in all that text, and FindTextTPAInTPA returns false.  It'll work for 'll' or 'attern', but any variation of thirst and d

[2012-02-16 23:05] cohenadair opened #77 "{$IFNDEF IS_INLCUDE} including files multiple times"
Couldn't think of a better title.  Basically, I have several files.  Every file has this at the top (also tried include_once):

{$IFNDEF IS_INCLUDE}
  {$i srl/srl.simba}
{$ENDIF}

Then I have one file that includes the several files mentioned above.  Everything works as should, except my functions list has duplicate functions (http://i.imgur.com/SsJ4a.png).  Again, everything works, just messes wi

[2012-05-28 21:37] BenLand100 opened #114 "GetPluginABIVersion not being called"
I've noted that, for some reason, GetProcAddress is returning 0 for the GetPluginABIVersion pointer for SMART specifically (unknown if other, i.e. fpc, plugins are affected). This is (best case) preventing Simba from loading the rest of the plugin methods with the proper calling convention when used with pascalscript (obviously serious, leads to stack corruption), or (worst case) preventing lape f

[2012-05-28 23:00] #114 closed, assigned to nobody

[2012-05-29 20:47] #77 closed, assigned to nobody

[2012-06-02 17:04] BenLand100 opened #115 "ALL THE INTERPRETERS ON LINUX"
are always shown as selected in the Script->Interpreter submenu. You're welcome Wizzup

[2012-06-06 03:44] Brandon-T opened #116 "GetColor Problems."
http://villavu.com/forum/showthread.php?t=81113&page=3

When loading LibSmartRemote32.dll and using Misc/Smart.Simba,  GetColor is overridden and is extremely slow.. At least 7 seconds of waiting before it returns a color whereas commenting out this function from that include returns the color in less than 20ms.

I posted an example on the link above and the code so you can test it. Also confirmed

[2012-06-06 23:41] BenLand100 opened #117 "Bitmap from Pointer"
This is a feature request (that I will implement given appropriate time, but it shouldn't be hard so I'll outline it here in case someone feels particularly able and decides to do it first)

Basically, SMART has a debug buffer that (previously) was accessible by a DC (which was windows only). I have removed the DC functionality because less win32 api is better. However, this leaves no real way for

[2012-06-07 04:22] #116 closed, assigned to nobody

[2012-06-10 16:32] MerlijnWajer opened #118 "Update SRL Updaters."
It is time the issue with not overriding loaded plugins is fixed. I say we simple rename any loaded plugins to something else, install the new plugins and on the next Simba load remove the old plugins.

It would be nice if someone could do this.

[2012-06-16 14:49] #117 closed, assigned to nobody

[2012-06-17 13:07] #115 closed, assigned to nobody

[2012-06-17 13:49] MerlijnWajer opened #119 "Remove RUTIS and CPascal"
To be honest, I don't think anyone is using them, so they should be removed from the codebase. They have been in there for what, two years now? I don't think anyone uses them now that we have Lape support that's starting to become a bit more decent.

[2012-06-20 18:41] Brandon-T opened #120 "Unicode vs. ANSI In Simba."
Unknown identifier '' at line 339

^ Those are unicode vs. ANSI errors.

See here for why Simba needs the code-editor updated OR all strings need changing to WStr/WChars:

http://villavu.com/forum/showthread.php?t=84679

This is happening a lot more often than never.

[2012-06-21 22:08] MerlijnWajer opened #121 "RenameFile"
RenameFile would be a nice addition. It can pretty much be a copy of DeleteFile, with events and all.

[2012-06-30 14:58] #121 closed, assigned to nobody

[2012-06-30 15:42] #118 closed, assigned to nobody

[2012-07-25 00:03] MerlijnWajer opened #122 "{Mouse,Image}SetClientArea should not accept invalid parameters."
It seems to accept too large values, at least for x2, y2.

[2012-07-26 20:49] Fratello opened #123 "Simba Resizing"
E: Pretty sure I was asked to post this on bugs.villavu... so errrm ignore/close this? Soz

When resizing Simba, I noticed that the bar atop, containing the row of icons; doesn't conform when resizing Simba.

I.E. When starting to shrink Simba, notice how the options row (containing File/Edit/Script/View/Tools/Help/..extensions..) will conform and create a new row in order to view all of the optio

[2012-10-18 08:31] #119 closed, assigned to nobody

[2012-12-21 18:49] #123 closed, assigned to nobody

[2013-04-03 18:13] Zyt3x opened #182 "getFile on file names with unicode characters such as æøå returns ? instead of the unicode character."
getFiles(path, 'ext'); on a path where I have i.e "ææøøåå.ext" returns "??????.ext", making it impossible to read the actual file without know it's actual filename.

[2013-04-03 18:19] ghost opened #183 "Personalize highlighting colors"
I'd like to change the highlighting colors and create highlighting rules.

[2013-04-19 02:20] JacobHacker opened #201 "Unusual Compiler Bug?"
[code]

I'm confused as to what's going on, I installed LCL and everything.

I am using the latest Git version of Simba, using Lazarus 0.9.30.4 9 which is pretty recent). Running Ubuntu 12.10, 32 bit

[2013-05-08 18:41] #201 closed, assigned to nobody

[2013-05-26 01:59] JohnPeel opened #212 "Function List for Lape"
We need a function list for Lape.

@nielsAD

[2013-05-26 02:00] JohnPeel opened #213 "Code Completion for Lape"
Code Completion for Lape.

@nielsAD

Tho this one has lower priority as I know it's a lot of work.

[2013-07-15 05:56] JacobHacker opened #216 "Compile error on Ubuntu Linux"
In mmlpsthread:
[code]

Specifically this line:
[code]
~/src/Simba/Units/MMLAddon/mmlpsthread.pas(1302,46) Error: Identifier not found "pthread_self"

Thoughts?

I still don't realize how Gentoo will compile it easily, and Ubuntu is taking forever to get working.

[2013-07-29 01:00] #212 closed, assigned to JohnPeel

[2013-08-02 02:26] cohenadair opened #221 "Request to revert "new splitTPA" commit"
Commt: https://github.com/MerlijnWajer/Simba/commit/eea9d3fe863ed07ff8a7e30a3709fcc072226239

Completely changed the functionally of splitTPA, which is an important function in many SRL functions (and I have yet to find a suitable alternative).  The "new" splitTPA doesn't the same thing as TPAToATPA, and therefore, should be reverted back to the original.

[2013-08-02 02:52] #221 closed, assigned to nobody

[2013-08-05 20:46] cohenadair opened #222 "WriteFileString not working in Lape"
It used to work, I'm sure of it.  Can be reproduced using this code:

http://pastebin.com/vVrXJKD9

[2013-08-06 02:04] #222 closed, assigned to nobody

[2013-08-25 12:13] riwu opened #229 "TAutoCompleteListBox error"
Procedure Pointer.Inc(Size: Int64);
Begin
  Self := Self + Size;
End;

Typing Alt + Enter, then 'in', then backspace results in an exception in Simba:

Program exception!
Stacktrace:

Exception class: Exception
Message: TAutoCompleteListBox Index 216 out of bounds 0 .. 0
  $00566F4C
  $00567DE2
  $0061BB9B
  $005FD65C
  $005D0B5C
  $004962CE
  $00634B57
  $005C12C0
  $00540A76
  $00540D23
  $00543

[2013-09-08 02:35] riwu opened #230 "Default parameter"
http://puu.sh/4lOWt.png

[code]

Result:
Overridden method called
1
Original method called
3

The method has been overridden but the default argument still comes from the original method.

Also calling Inherited() in the overridden method do not change the result of the overridden method. (Not sure if it's meant to do so, but it makes sense to do so)

[2013-09-08 04:11] #230 closed, assigned to nobody

[2013-11-02 20:32] ollydev opened #248 "Extensions dissapearing/un-enabling"
Happens to other people (seen a few threads but here is the newest http://villavu.com/forum/showthread.php?t=106514) I'm going to do some debugging

[2013-11-25 17:21] #248 closed, assigned to nobody

[2014-04-21 06:09] #213 closed, assigned to nobody

[2014-09-14 13:35] #229 closed, assigned to nobody

[2014-09-15 10:41] riwu opened #292 "Suggestions"
Just some features i'd love to see...
1. Get memory usage (RAM) of a process. Either a new function that accepts a process handle/pid, or add an extra field to TSysProcArr.
1. (for Lape) Add variable unused compiler hint.
2. Invoke methods in AddOnTerminate() before link to plugins (eg. SMART) is broken, so that methods that affect the plugins (eg. SmartSetEnabled(), SmartKillClient()) can be exec

[2014-09-15 10:49] riwu opened #293 "Suggestions"
Just some features i'd love to see...

Major
-Get memory usage (RAM) of a process. Either a new function that accepts a process handle/pid, or add an extra field to TSysProcArr.

Trivial
-Invoke methods in AddOnTerminate() before link to plugins (eg. SMART) is broken, so that methods        that affect the plugins (eg. SmartSetEnabled(), SmartKillClient()) can be executed.

-Add variable unused co

[2014-09-15 10:54] #292 closed, assigned to nobody

[2014-09-17 21:42] #293 closed, assigned to nobody

[2014-09-17 21:43] riwu opened #294 "Get memory usage (RAM) of a process"
https://github.com/MerlijnWajer/Simba/issues/293

Get memory usage (RAM) of a process. Either a new function that accepts a process handle/pid, or add an extra field to TSysProcArr.

[2014-09-17 21:48] riwu opened #295 "AddOnTerminate() doesnt call non-script method"
https://github.com/MerlijnWajer/Simba/issues/293

-Invoke methods in AddOnTerminate() before link to plugins (eg. SMART) is broken, so that methods that affect the plugins (eg. SmartSetEnabled(), SmartKillClient()) can be executed.

https://github.com/MerlijnWajer/Simba/issues/293#issuecomment-55619534
'The methods don't get called because they aren't script methods, not because they are plugin me

[2014-09-17 21:51] riwu opened #296 "Functionlist collapse"
https://github.com/MerlijnWajer/Simba/issues/293

-Option to not list global const & var in the functionlist (or maybe just collapse all of them under 'Const' and 'Vars' headings?), and option to collapse type methods and overloads (http://puu.sh/bzSS2/7fd4d66606.png) by default

[2014-09-17 21:53] riwu opened #297 "Disable Simba startup misc"
https://github.com/MerlijnWajer/Simba/issues/293

-Option (stored in settings.xml?) to disable auto font loading (only load them manually in script with LoadFont()).
(Added by JohnPeel: https://github.com/MerlijnWajer/Simba/issues/293#issuecomment-55649018 -- i will test later)

-option to disable extension loading (http://puu.sh/bCkO1/4faa2f10ca.png) and the Simba news
(https://github.com/Merlijn

[2014-09-17 22:03] riwu opened #298 "Area selector"
Add a tool (like the color picker) that can select an area (like image capture tools (eg. puush, ShareX); drag and drop) and returns the coordinates of the area in the format of (x1, y1, x2, y2).

[2014-09-17 22:37] riwu opened #299 "Vertical line at every indentation until last indentation"
http://puu.sh/bDhGe/8c6ca4c1a7.png

Suggested by mayor

[2014-09-27 14:00] riwu opened #303 "SaveScreenShot() leak"
Might want to fix this...
https://villavu.com/forum/showthread.php?t=110335&p=1310822#post1310822

[2014-09-29 15:08] riwu opened #304 "64bit Simba Tools > settings error"
Just a minor bug:
Clicking Tools > settings in 64bit simba pops up the error message:
http://puu.sh/bRQQ3/1631bc40d2.png

Program exception!
Stacktrace:

Exception class: EAccessViolation
Message: Access violation
  $000000000069D918
  $0000000000420879
  $000000000041F88A
  $000000000040DE6E
  $0000000000596030
  $0000000000421953
  $00000000005A411D
  $0000000000593489
  $00000000005933A8
  $000

[2014-09-29 18:46] #303 closed, assigned to nobody

[2014-10-02 07:52] JohnPeel opened #307 "Add setting for quiet font loading."

[2014-10-03 10:44] riwu opened #308 "Debug which statement the script is at during run time."
Is it possible to add a debugging tool that tells you which statement the script is executing during run time? This will help to identify infinite loops instantly, which is particularly useful for new users/huge scripts.

[2014-10-03 10:49] riwu opened #309 "type . and crash still not fixed"
Just got crashed typing . after a record variable.
Using Simba 1.1.0 (latest) and 64 bit.

Program exception!
Stacktrace:

Exception class: EAccessViolation
Message: Access violation
  $000000000088EC24
  $00000000006A7DCF
  $00000000006A7DCF
  $00000000006A743F
  $0000000000686112
  $0000000000685484
  $000000000064C020
  $00000000006494DC
  $000000000063F619
  $0000000000597A24
  $0000000000594B

[2014-10-04 02:27] riwu opened #310 "Taking much longer to start up simba"
It takes much longer to start up recent versions of simba. (both 32 and 64bit)
Sometimes it got stuck here for several seconds (sometimes over 10s) before starting the GUI
http://puu.sh/bYmlj/223c157e10.png

Any idea what change is causing it?

[2014-10-06 08:33] riwu opened #311 "$IFDEF statement not working for $loadlib"
https://villavu.com/forum/showthread.php?t=110501

[2014-10-07 04:19] #311 closed, assigned to nobody

[2014-10-25 12:09] riwu opened #316 "[Suggestion] Script name when hover over Simba icon at tray"
Most programs and system icons have a 'mouseover text' when you hover over them at the system tray: http://puu.sh/cpRkz/37d860f3be.png

So can a mouseover text be added to the Simba icon at tray indicating the ScriptFile too? So that there's no need to activate/maximize them 1 by 1 to search for a particular script.

Or is it possible to allow the script to customize the tray icon of Simba? Like j

[2014-11-20 10:32] riwu opened #325 "Unused var hint for lape"
Add a warning/hint about unused variables like in PS

[2014-12-15 17:48] #296 closed, assigned to nobody

[2014-12-20 00:26] #316 closed, assigned to nobody

[2015-02-15 21:40] MerlijnWajer commented on #120
Is this still relevant?

[2015-02-15 22:24] Brandon-T commented on #120
It doesn't seem to be happening anymore. The includes don't seem to be having this problem at all actually. Not sure what changed but whatever it is, it's a good thing.

The only issue I've seen lately with charsets is the wide-string or unicode-string in Simba. It would be nice to have a UTF8ToUTF16 and vice-versa function in Simba. Simba cannot print UTF16 characters. It can print UTF8 character

[2015-02-15 22:25] MerlijnWajer commented on #120
Right, but please file a different bug/issue for those requests/bugs. I'll close this issue then; thanks.

[2015-02-15 22:25] #120 closed

[2015-02-15 22:28] Brandon-T opened #338 "UTF8 to UTF16 conversion support"
Lately, I've seen one issue with charsets when using the wide-string or unicode-string in Simba. It would be nice to have a UTF8ToUTF16 and vice-versa function in Simba. Simba cannot print UTF16 characters. It can print UTF8 characters perfectly fine :D Which IMO is the best choice (UTF8 everywhere). However, I would like to request a conversion function though (IF it's not too much work or too mu

[2015-02-15 22:31] Brandon-T opened #339 "Strings containing null characters."
Simba cannot print strings containing a null character. One example is the following:

[code]

For which the result is:

[code]

It knows the length of the string is 11 characters but as soon as it hits a null character, it considers the string terminated. I do not believe this C like behaviour should be allowed because the string has a length. This may or may not be a problem with the `writeln` f

[2015-02-15 22:54] MerlijnWajer commented on #216
Is this still an issue? I presume it is not.

[2015-02-15 23:16] MerlijnWajer commented on #309
We could try to provide Simba builds with debug information, @JohnPeel . If you know how to do it, I can easily edit/change the l0.lt autobuilders to include debugging information.

[2015-02-16 03:00] JohnPeel commented on #309
@MerlijnWajer We could, iirc it's an option to fpc, or we could switch to lazbuild (and use profiles [release and debug])

@riwu The released binaries are stripped of debugging information, compiling it yourself will leave that information and the stack trace will have much more useful data (file and line number)

[2015-02-16 03:02] JohnPeel commented on #216
No clue, my builds (x64, x86, ARM) are all fine, but it might be a laz/fpc version issue. We should set a specific version and force all devs/users (that compile) to use it

[2015-02-20 19:22] Brandon-T opened #340 "Memory Allocation Scheme for plugins."
Plugin system memory allocation scheme.

Can we add something to the current plugin system such as a callback for allocating from Simba's managed memory pool?

For example:

[code]

Then when the plugins are initialised it would do: `plugin.setMemoryAllocators(@allocator);`

The above allocator was written based off of (Lape's SetLength function): https://github.com/SRL/Lape/blob/master/lpvartypes

[2015-02-26 19:07] Olly- commented on #304
This is because there is no pascal script in 64-bit simba and there is no {IFDEF} around the pascal script parts.

Super easy to fix, though If you use 64-bit simba your lape is 10x slower.

[2015-02-26 19:57] MerlijnWajer commented on #304
tpho

[2015-03-11 08:50] Olly- commented on #338
@Brandon-T What you want is http://lazarus-ccr.sourceforge.net/docs/rtl/system/utf8decode.html (and encode) right?

[2015-03-11 09:04] Olly- commented on #339
It's a bug? with TMemo http://i.imgur.com/FQ3VD8c.png

Works in a TListBox fine though, and I plan to one day change Simba's debug box to a ListBox so hopefully one day this will be 'fixed'.

[2015-03-12 02:19] Brandon-T commented on #338
@Olly- yep.

[2015-08-24 12:58] #297 closed

[2015-08-24 13:02] riwu commented on #297
other than the font loading, the other features are very minor optimizations that i'm probably the only one interested, so i guess i will just edit them for my private use instead

[2015-08-24 20:35] MerlijnWajer commented on #297
I'm happy to look at pull requests if you end up writing it.

[2015-10-04 21:37] WarPie opened #346 "[Lape] Build new libffi for windows x64 and x86"
We need the latest version of libFFI built, and shared somewhere.

- Not a directly related to Simba, but will be needed for Lape soon enough.

[2015-10-04 21:38] MerlijnWajer opened #347 "Migrate bugs from bugs.villavu.com to github"
Is there a mantisbt to github convertor out there somewhere?

[2015-10-04 21:41] MerlijnWajer opened #348 "Upgrade FPC, Lazarus @ Buildbot"
Aim for Win32 and Win64 first - then work on Linux x86 and Linux x64 again as well.

Later I can add an ARM buildslave.

[2015-10-12 23:56] Turbine1991 opened #350 "[IDE] Broken Documentation Link [keyboard, mouse, socket, crypto, ...]"
Most of the documentation links in the Simba IDE return a 404 page like this: http://docs.villavu.com/simba/scriptref/keyboard.html#presskey

[2015-10-12 23:59] Turbine1991 opened #351 "[Documentation] Example for function "FindAndSetTarget" uses non-existant string comparison function"
The example employs the use of "StartsWith" - which is a non-existent function.

Page: http://docs.villavu.com/simba/scriptref/window.html#setdesktopasclient

Offending code:
[code]

[2015-10-13 00:15] Turbine1991 opened #352 "[Language] Missing file read line facilities"
Scar provides the facility:

[code]

The closest we have available is ReadFileString which is a bit too much.

[code]

[2015-10-13 02:36] Turbine1991 opened #354 "[Backend] KeyDown is not working for DirectInput games - other than writing individual ANSI characters"
Currently for some games when you try to press a key such as Enter or ~ for console, it does not go though. However writing any letter does.

[2015-10-13 07:31] MerlijnWajer commented on #350
I am working on fixing this (server migration), hopefully it'll be solved today

[2015-10-13 09:25] MerlijnWajer commented on #351
Thanks for the report - fixed with Riwu's commit. The docs are usually autobuilt every hour - but due to some server outage it will take a bit longer than usual.

[2015-10-13 12:20] Turbine1991 commented on #351
Thank you for your prompt feedback.

I couldn't find a simple equivelant, regex was probably the closest.

[2015-10-13 12:22] Turbine1991 commented on #350
Thank you once again. It was a brilliant idea to integrate this into the ide. Simba lets me write code nearly twice as fast as Scar.

[2015-10-23 00:19] ObscuritySRL opened #355 "TComponent.GetComponent(index: integer) should be a function."
In:
Simba/Units/MMLAddon/LPInc/Classes/miniLCL/lplclsystem.pas

Line 1077:
https://github.com/MerlijnWajer/Simba/blob/d737b95664d0966a58c55a678a526abe3dbb90b9/Units/MMLAddon/LPInc/Classes/miniLCL/lplclsystem.pas#L1077

Should be:
[code]

[2015-10-25 06:55] MerlijnWajer commented on #355
This is fixed in 598f55d I believe.

[2015-10-25 06:55] #355 closed

[2015-12-08 15:22] riwu commented on #304
Fixed with https://github.com/MerlijnWajer/Simba/pull/363

[2015-12-08 15:22] #304 closed

[2015-12-09 15:15] riwu commented on #294
Added via pull req https://github.com/MerlijnWajer/Simba/pull/364

[2015-12-09 15:15] #294 closed

[2015-12-11 06:53] riwu commented on #310
Figured out the cause:
https://github.com/MerlijnWajer/Simba/blob/master/Units/Synapse/ssl_openssl_lib.pas#L1857
_RandScreen is the sole culprit of the delay.

Reason why it didnt occur prior to win8 is because at L1735, both SSLLibHandle and SSLUtilHandle are 0, so _RandScreen doesn't get executed at all.

[2015-12-12 15:56] riwu commented on #295
The plugin methods were actually invoked, but SMART was freed before that. I changed the order and it's fixed.

Adding the optional param via PR #365.

[2015-12-12 15:56] #295 closed

[2015-12-12 15:57] #310 closed

[2015-12-13 11:11] MerlijnWajer commented on #310
Is there a PR to fix this? We can just not call randscreen - it's stupid to call it.

[2015-12-18 16:07] riwu commented on #299
Formatter can auto format the script perfectly, i guess this isnt really necessary.

[2015-12-18 16:07] #299 closed

[2015-12-29 16:44] CynicRus commented on #347
https://noswap.com/blog/integrating-git-svn-with-mantisbt

[2016-01-05 23:58] MerlijnWajer commented on #350
Hm. Seems I still didn't do it -- damnit. Putting it high on my list!

[2016-01-06 00:04] Turbine1991 commented on #350
You seem rather bogged down, I appreciate the openness of Simba!

[2016-01-06 00:32] MerlijnWajer commented on #350
Just keep bugging me - I forget sometimes. I will need about 15 minutes to do it, so please, do (keep) reminding me. I only found this url somewhere deep in my 'todo' notes.

[2016-01-10 00:02] MerlijnWajer commented on #350
I think I have fixed it! See docs.wizzup.org -- docs.villavu.com may already work depending on when the DNS is migrated.

[2016-01-10 00:08] MerlijnWajer commented on #350
See http://docs.wizzup.org/simba/referencescript.html#scriptref

[2016-01-10 00:08] MerlijnWajer commented on #350
See http://docs.wizzup.org/simba/referencescript.html#scriptref

[2016-01-10 00:08] MerlijnWajer commented on #350
Actually -- the issue is seperate from all docs being down. But at least the docs are up again. Now we just need to fix the link.

[2016-01-10 11:59] MerlijnWajer commented on #350
This seems to be mostly changing the documentation filenames names to match the ones in Units/MMLAddoc/(LP/PS)Inc/Wrappers.

[2016-01-10 12:01] MerlijnWajer commented on #350
Or rather, the actual sections.

[2016-01-10 20:19] Turbine1991 commented on #350
It's all good, 8 consecutive responses.

[2016-02-05 22:06] MerlijnWajer commented on #346
I build the latest libffi here: http://nala.villavu.com/downloads/var/

Static and dynamic versions available. Please test.

[2016-02-06 10:31] nielsAD commented on #346
The dynamic versions work. Haven't tested the static versions yet.

[2016-02-06 10:47] MerlijnWajer commented on #346
Thanks. Assigning it to you, that is, if you want to test the static versions. Otherwise, feel free to either close it or reassign to me.

[2016-02-06 10:59] #325 closed

[2016-02-06 10:59] #308 closed

[2016-06-27 12:15] Harrierr opened #379 "[Linux] Crash on open"
After #378 simba on linux will instantly crash once opened. Compiling a version of simba before this commit allows for it to open and function fine.
""Pango:ERROR:pango-layout.c:3916:pango_layout_check_lines: assertion failed: (!layout->log_attrs)""
libpango-1_0_0-32bit version 1.36.8-2.2

[2016-06-27 16:53] WarPie commented on #379
I just compieled and tested, it works fine for me. I guess you have your old `settings.xml` file, that might be the cause of it, as that commit you liked to added another field in that file.

[2016-07-10 10:03] nielsAD commented on #346
They appear to work with 1.2RC2 :+1:Thanks!

[2016-07-10 10:03] #346 closed

[2016-07-10 10:06] JohnPeel commented on #182
@riwu , this has been merged properly, correct?

[2016-07-10 10:07] JohnPeel commented on #216
I'm going to assume the lack of updates means you've figured it out. We also cannot reproduce the issue.

[2016-07-10 10:07] #216 closed

[2016-07-10 10:11] #351 closed

[2016-07-10 10:11] JohnPeel commented on #347
https://github.com/servalproject/serval-tools/blob/master/doc/sp-mantis2github.md

[2016-07-10 10:13] nielsAD opened #382 "Simple GUI modifications"
- [x] Make clear what `View -> Show Hidden` is about. Either rename to something clearer, or maybe move into a `Code Completion` / `Function List` submenu along with `Show Function List`.
- [x] `Settings -> Environment -> Other -> Show Command Prompt (Windows only)` does not appear to be doing anything. Remove the `(Windows only)` part and hide on non-Windows systems.
- [x] Form Designer and Colou

[2016-07-10 10:21] nielsAD opened #383 "Form Editor does not work correctly"
- [x] Generated code does not compile
- [x] Icons on speed buttons are shifted (see https://imgur.com/a/9Xkau)
- [ ] I can't change height for some components (e.g. ComboBox, EditBox)
- [x] I can't delete elements in the form editor (not with delete button, not with right click menu)

@CynicRus

[2016-07-10 10:28] nielsAD opened #384 "Test scripts do not compile"
- [ ] Update scripts in `Tests/Lape`
- [ ] Remove `Tests/FPC` and `Tests/CPascal`. Maybe fix and move the scripts inside these folders
- [ ] Make sure scripts in `Example/` folder compile with Lape _[OPTIONAL]_

[2016-07-10 10:33] nielsAD opened #385 "Lape Extensions"
Enable support for Extensions using the Lape interpreter. Will allow us to run Extensions on platforms other than Windows.

[2016-07-10 10:44] nielsAD opened #386 "Clean up repository"
- [ ] Remove deprecated brances
- [ ] Move items in `TODO` files to GitHub issues
- [ ] Remove CPascal plugins
- [ ] Remove deprecated/unused projects. In my opinion, all but the core projects should be removed (this means almost everything but `Simba`). Arguable: ~~`FormDesigner`~~, `lape-wrappers`, `libmml`, `OCRBench`, `OCRTool`, ~~`ScriptManager`~~.

[2016-07-10 11:31] nielsAD commented on #182
Yes, can be reopened if the problem persists.

[2016-07-10 11:31] #182 closed

[2016-07-10 11:44] nielsAD commented on #339
Yeah, this is a Lazarus/Windows thingy. We could circumvent it by escaping \#0 perhaps, but not sure what we would show instead.

[2016-07-10 12:21] nielsAD commented on #340
If you export `procedure SetPluginMemManager(MemMgr : TMemoryManager)` in your plugin, Simba will call it upon initialization. `TMemoryManager` holds references to all the methods needed for memory management. If you write your plugin in FPC, `SetMemoryManager` is all that's needed to use Simba's memory manager.

Sorry for the late reply!

[2016-07-10 12:35] JohnPeel commented on #386
FormDesigner and ScriptManager are a part of Simba, though we could make them submodules.

[2016-07-10 12:47] nielsAD commented on #386
Should be fine to keep them in. Got a bit confused by the location, thinking they were remains of "test" projects before they were merged into Simba.

[2016-07-10 14:34] nielsAD opened #387 "Update LoadPlugin for new Lape FFI"
LapeImportWrapper in [mmlpsthread.pas#L1607](https://github.com/MerlijnWajer/Simba/blob/a7ce4f3c8a94aef37dfa6868e6f5112dded93f0b/Units/MMLAddon/mmlpsthread.pas#L1607) assumes default platform calling convention (`register`). Plugins export `cdecl`.

We can now also support other calling conventions as well, just like with PS ([mmlpsthread.pas#L774](https://github.com/MerlijnWajer/Simba/blob/a7ce4f

[2016-07-11 00:18] Brandon-T commented on #340
@nielsAD This only works for Pascal plugins though. I realised that after writing it all out. http://pastebin.com/S65R0MAW

There's no way to set memory manager for plugins written in any other languages.

[2016-07-11 08:57] nielsAD commented on #340
Because of the calling convention?

[2016-07-11 09:02] MerlijnWajer commented on #340
I don't think it is impossible, as I recall doing it from C several years ago. As you all understand, I guess, anything that you want to pass to FPC will need to be allocated using the memory manager.

I guess I'm also not sure why you think it wouldn't work - as Niels said, calling convention comes to mind, but that is easily fixed with a wrapper, if the calling convention is not available in the

[2016-07-11 09:37] #387 closed

[2016-07-11 15:57] JohnPeel commented on #384
Maybe we should remove the Tests/Lape, and just grab Lape's actual test scripts?

[2016-07-11 23:58] #382 closed

[2016-07-11 23:58] JohnPeel opened #391 "Find previous"
https://github.com/MerlijnWajer/Simba/blob/master/Projects/Simba/simbaunit.pas#L2222

[2016-07-12 00:40] Brandon-T commented on #340
Not because of the calling convention. Because plugins written in other languages cannot call "SetMemoryManager" or "GetMemoryManager". The only way to do it is to build a static library wrapper in FPC that will call these functions for you then link your code against the wrapper and call the wrapper functions.

There's also Structural differences.. IE: Struct alignment, padding. The TMemoryManage

[2016-07-12 02:00] JohnPeel commented on #354
This could be the game intercepting something, no idea, @MerlijnWajer ideas?

[2016-07-12 02:03] JohnPeel commented on #75
@cohenadair Any updates?

[2016-07-12 02:04] cohenadair commented on #75
@JohnPeel haha 4 years later...

No, definitely not updates that I can recall.

[2016-07-12 02:04] JohnPeel commented on #350
@MerlijnWajer Update?

[2016-07-12 02:05] JohnPeel commented on #384
Removed from milestone as it's not exactly urgent, or even needed for releases.

[2016-07-12 02:07] JohnPeel commented on #309
The current RC build of 1.2.0 has debugging symbols, can you reproduce your stacktrace with that build?

[2016-07-12 07:55] MerlijnWajer commented on #340
Why? We can simply export the TMemoryManager is a more friendly format from Simba. We don't need another library for that, and if we did that, why would it need to be static? I don't see it as a problem to ship a simple simba-plugin-helper.so with Simba, but I have a preference for just fixing this problem in Simba.

Of course other languages cannot call "(G|S)etMemoryManager", but they can explic

[2016-07-12 23:39] WarPie commented on #309
Here is a little something:
[code]

[2016-07-13 01:18] JohnPeel commented on #309
Ah, ok, I can look into fixing it in the next couple of days (Hopefully).

Seeing as it's just a getCount, it probably is a thread syncing issue.

[2016-07-13 01:23] JohnPeel commented on #75
@cohenadair, I'm assuming this is just a limitation of the function, and not actually a bug. Is a better function still needed? or has a solution been found?

I cannot see the example image, seems to have gone down.

[2016-07-13 09:21] nielsAD commented on #309
I looked into this. For ctrl+click, param hints, and code completion, a new `TCodeInsight` instance is created on every use. This all happens in the main thread. For the function list, parsing is offloaded to another thread.

Now, `TCodeInsight` is pretty indifferent about threads **except** for a global include cache. There appear to be some useless critical sections whenever a new include is app

[2016-07-13 12:07] cohenadair commented on #75
@JohnPeel

If it hasn't become a bigger issue since it was reported I think it's probably fine.  I don't really remember, but I think it was having trouble because some letters were overlapping with letters from the line above or below.  In that case I think it's just a limitation of the function, and failsafes should be used to handle these situations.

[2016-07-13 13:19] nielsAD commented on #379
An unassigned result caused new settings not to be written correctly (this was also a problem with deleted `settings.xml`). Not sure if this is related to this issue, as the error message @Harrierr shows does not seem about settings.

[2016-07-13 14:10] WarPie commented on #309
@JohnPeel : Recreate with Win32:
- Get SimbaExt_beta from http://slacky.info/downloads/SimbaExt_beta.rar
- Extract to SimbaExt_beta in includes folder
- Start Simba
- Write:
[code]
- from functionlist open `Includes/Core.pas`
- Return to the script tab again
- within `begin` `end` block write `se.`

[2016-07-13 15:20] nielsAD commented on #391
Added in eab562f4bb8016b80538b3cd994c48bf1766e9db. Could you check if the search behaviour is still the same for the other things as well?

[2016-07-13 16:33] nielsAD opened #392 "Simba fails to load with invalid settings file"
Empty settings is fine, but invalid settings (e.g. empty value) causes loading to fail for `TValueSetting` and friends. I propose we use `onDefault` as well for exception in `Load` methods.

[2016-07-13 16:45] nielsAD commented on #350
We need to update documentation https://github.com/MerlijnWajer/Simba/tree/master/Doc/sphinx/scriptref to match the function list categories / functions. It will would be nice to be able to generate this list/documentation automatically.

For milestone 1.2, I suggest we at least put up placeholder files for categories that do not exist yet, so people do not get a `404`. Filling in missing document

[2016-07-13 19:45] JohnPeel commented on #75
Thanks for the reply, I'm gonna close the issue then. =)

[2016-07-13 19:45] #75 closed

[2016-07-13 19:50] JohnPeel commented on #391
I'll look into testing it later today, thanks for adding it! =)

[2016-07-13 19:52] JohnPeel commented on #392
Possibly add a warning about invalid settings and reset to default setting.

[2016-07-13 19:53] JohnPeel commented on #350
I could also add the ability to have the document link use an alternative section name.

[2016-07-14 00:01] JohnPeel commented on #391
Ok, seems to work as expected! Although, I don't like placement of the buttons, think they should line up with the input box?

[2016-07-14 11:59] nielsAD opened #394 "Improve Code Insight"
- [ ] Share expression resolving code for ctrl+click, completion, param hints
- [ ] Recursively search for objects (i.e. expressions with more than one dot)
- [ ] Show param hints for nested calls, continue with outer hint when finishing the inner call
- [ ] Show overloaded param hints

[2016-07-14 22:59] nielsAD commented on #379
As both @WarPie and I cannot reproduce this, I've removed the urgent tag and milestone for now.

[2016-07-15 12:04] nielsAD commented on #379
Appears to be related to the function list. Hiding it on start prevents the error. Showing the function list once Simba is started generates the error immediately.

[2016-07-15 13:27] #350 closed

[2016-07-15 13:28] #309 closed

[2016-07-15 14:26] nielsAD commented on #391
Should be fixed with 12880c8d0d5d6101c73836efe7e46b939b025be2. Not sure if this is related to Linux or a newer version of Lazarus.

[2016-07-15 14:26] #391 closed

[2016-07-15 14:30] nielsAD commented on #383
TRadioButton is not exported, so doesn't work yet as well.

[2016-07-16 08:19] nielsAD opened #399 "Export static class .Create functions"
Keep .Init() functions for now for backwards compatibility, but make clear they are deprecated. As all other class import functions are marked as `constref`, maybe we can wrap these calls into something like `addClassMethod` to do this automatically (as we have done with `addClassVar`).

[2016-07-16 10:05] JohnPeel commented on #399
I actually made a addClassMethod, but it's so ugly trying to put the constref before overload and override...

[2016-07-16 10:06] JohnPeel commented on #383
TRadioButton should be hidden for now >..>

[2016-07-16 10:12] JohnPeel commented on #399
[code]

[2016-07-16 10:19] nielsAD commented on #399
We might be able to get away with `Result.SelfParam := lptConstRef;`.

[2016-07-16 10:21] JohnPeel commented on #399
@nielsAD You should start work on the "future parsing" thing I was talking about =)

[2016-07-16 10:22] nielsAD commented on #399
@JohnPeel Lape 2.0! :stuck_out_tongue:

[2016-08-07 14:50] Harrierr opened #402 "[Linux] FindColors, FindColorsTolerance, FindColorsSpiralTolerance broken"
If you try to use any FindColors* (And most likely any finding func which returns a TPA) it'll crash the script returning "Error: Exception in safecall method at line 5" most likely crashing Simba as well.
This happens to a 64/32bit with fpc 2.64 and 64/32bit with fpc 3.0 but doesn't seem to apply to Windows.

[2016-08-07 14:52] Harrierr commented on #379
Fixed in @nielsAD  commit

[2016-08-07 14:52] #379 closed

[2016-08-08 17:26] #402 closed

[2016-08-12 09:07] JohnPeel opened #405 "Test Suite"
Tests Suite for testing most of Simba.

[2016-08-12 10:06] MerlijnWajer commented on #405
Most of Simba -> let's aim for some parts to be tested. Most is a stretch.

[2016-08-13 01:39] JohnPeel commented on #405
Should actually be testing our exported stuff, though we could also have test suite of MML methods and maybe some of the features.

[2017-01-22 14:10] Nazgand commented on #347
Does http://bugs.villavu.com/ even exist anymore?

[2017-01-28 20:27] MerlijnWajer commented on #347
It may not be running right now, but I can bring it online for a migration.

[2017-01-28 21:45] Nazgand commented on #347
Nice to know. I do not know how to do the migration; I simply thought that this issue could be closed because bugs.villavu.com disappeared.

[2017-04-03 20:18] R030t1 commented on #354
@Turbine1991, @JohnPeel, @MerlijnWajer: If a game chooses to bypass the normal desktop input messages and instead uses the DirectInput API and subscribes to WM_INPUT messages in preference to normal WM_KEYDOWN messages there is very little to correct the behavior you are experiencing. The game is ignoring typical keyboard events and using the API made for joysticks to access the keyboard as an inp

[2017-04-03 20:23] R030t1 commented on #348
@MerlijnWajer @nielsAD: Please mark this issue with elevated priority. Completing this may incidentally fix some binary compatibility issues that the release files have.

[2017-04-03 22:56] Turbine1991 commented on #354
No 3d game I've tried seems to work on Windows. Rust, Natural Selection 2, Android emulator AMIDuOS - for a game.

Everything SCAR divi fails to pass inputs to.

Usually it's mouse clicks, but a lot of the time even key board inputs fail. Some other macro utilities inputs work like autohotkey.

[2017-04-04 00:13] R030t1 commented on #354
See [this](https://www.autohotkey.com/docs/FAQ.htm#games).

It looks like AutoHotkey simulates `WM_INPUT` events or otherwise places itself in the event queue at a lower level than allowed by the top level Windows API. Searching [hotkey.cpp](https://github.com/AutoHotkey/AutoHotkey/blob/master/Source/hotkey.cpp) for `SendPlay` pointed me towards some keywords that looked like AutoHotkey might be u

[2017-04-04 04:57] Turbine1991 commented on #354
@R030t1

How hard would it be to implement it so we can test its effectiveness? Even as an alternative click function - to ensure compatibility in any regressive cases.

[2017-04-04 15:59] R030t1 commented on #354
@Turbine1991: Implementation might be two weeks of off and on work with testing however actually figuring out the Windows API regarding how input is handled might take me another month. There are also some issues getting everything built around and for Simba ported to FPC 3.0.0 and Lazarus 1.6.4.

I'll be working on this fairly consistently and might get code committed but don't hold your breath.

[2017-04-05 03:58] Turbine1991 commented on #354
Sometimes it feels like Pascal is more trouble than it's worth. Considering how dead Pascal/Delphi is these days.

I've just tried NS2 using keypress, sendkeys and clickmouse - only sendkeys worked. I could write a string, but I could not write it using keypress or keydown functions.

[2017-04-09 04:44] WarPie commented on #354
@Turbine1991 it's really not the programming language that is the issue. This is all backend stuff, just calls to the Windows API, more or less. We are by no means being limited in capabilities by Simba being written in FPC. Further more looking at popularity statistics for object pascal, it's by no means out of the picture, being in the top-10 @ TIOBE.

[2017-05-19 04:39] ghost opened #407 "Support serial port access."
A user has requested serial port access. It would be possible to use a library like Synapse or create custom OS bindings. My experience with Synapse is that while it is a cross-platform wrapper it can be hard to use. There may be something in the codebase more suitable, if that is the case I'm not aware of it.

For now, opening the file representing the port should work for either OS as long as th

[2017-05-19 07:27] MerlijnWajer commented on #407
This seems suitable:
http://wiki.freepascal.org/Hardware_Access#FPC_built_in_Serial_unit

[2017-05-23 16:09] R030t1 commented on #407
How are bindings for the necessary functions and data structures added?

[2017-05-24 03:24] R030t1 commented on #405
Is there anything like JUnit for FPC/Lazarus? @JohnPeel did you intend to test the GUI or only the interface to Lape?

[2017-05-24 03:27] R030t1 commented on #183
Any progress?

[2017-05-24 03:29] R030t1 commented on #347
Has the old tracker ever been revived for migration?

[2017-05-24 03:34] R030t1 commented on #122
@MerlijnWajer: Have you looked?

[2017-05-24 03:59] R030t1 commented on #385
Why is this feature currently Windows-specific?

[2017-05-24 04:16] R030t1 commented on #383
@nielsAD: Can you explain what you mean by "I can't change height for some components?" In the Lazarus form editor some of the listed components won't change their vertical height when being drug, and do not want to be set as anything other than their default.

[2017-05-24 04:20] R030t1 commented on #394
@nielsAD, @Olly-: Can you compare the desired code completion semantics with something that exists currently, like IntelliJ IDEA or Sublime Text?

[2017-05-24 04:24] R030t1 commented on #338
@Brandon-T: Where are you encountering UTF-16?

Based on a lot of reading I did w.r.t. Window's Unicode implementation it is best to avoid it completely and to only use it to interact with the OS where necessary. Hopefully this means the LCL would take care of everything, meaning Simba should only ever see UTF-8 data.

[2017-05-24 07:20] nielsAD commented on #405
[fpcunit](http://wiki.lazarus.freepascal.org/fpcunit) and [FPTest](http://wiki.freepascal.org/FPTest are the most common testing frameworks, I think.

We could also go for a more integration approach and use scripts for testing.

[2017-05-24 07:23] nielsAD commented on #385
With "this feature" I assume you mean extensions. At the time of writing extension support, Pascal Script didn't work properly on platforms other than Windows x86, so it was disabled on other platforms.

[2017-05-24 07:32] nielsAD commented on #383
That might explain it then! However, that is probably because of the autosize property of the component, which we might want to expose in the form editor as well.

[2017-05-24 17:05] R030t1 commented on #385
I thought Pascal Script was deprecated or not included in Simba?

[2017-05-24 17:09] R030t1 commented on #339
Generally #0 has no glyph and is zero width, so if we want to fix the behavior inside of Simba we can strip #0 characters from strings. On some OSes and with some fonts the glyph will display as either a block, or a block with "0000" tiled inside of it.

[2017-05-24 17:32] nielsAD commented on #385
It still included (because of extensions, for example), but I guess it can be considered deprecated.

[2017-05-24 19:42] R030t1 commented on #385
So do extensions no longer exist? Are extensions only referred to because they are something that the Pascal Script engine can interface with?

[2017-05-24 22:39] nielsAD commented on #385
Extensions still exist and Pascal Script is still used as interpreter for them. However, for the (historical) reason listed above, they are only enabled on Windows. Ideally we would also like to support (or switch entirely to) Lape as interpreter for extensions for consistency with the scripting engine and improved platform support.

[2017-05-24 23:27] Brandon-T commented on #338
@R030t1 Simba will "never" see only UTF-8 data when dealing with Runescape because it is written in Java and it uses UTF-16. So for OpenGL when I originally wrote it, I was feeding the characters directly to Simba and hoped that Simba could print them. It could NOT print them because UTF-16 characters typically begin with a null-terminator character: "\0".

So I had to convert them to UTF-8 for Si

[2017-05-24 23:46] Zyt3x commented on #183
None, feel free to start

[2017-05-25 02:41] R030t1 commented on #385
Has anyone looked at that to see what it would take?

[2017-05-25 02:45] R030t1 commented on #338
@Brandon-T: Okay, that's understandable. If possible it would probably be best to have any plugins interfacing with Java encode strings as UTF-8.

http://utf8everywhere.org/ gives a good outline of what is wrong and how it can be solved. It looks like this issue report was going in that direction, but I just want to mention it specifically.

[2017-05-25 08:46] MerlijnWajer commented on #338
It would indeed seem that you need to encode the text to whatever Simba expects, so UTF-8. That's a standard procedure for many languages.

[2017-05-26 07:40] MerlijnWajer commented on #407
I think that the serial unit I linked also works on other platforms.

Look at the PSInc and LPInc directories on how you can add wrappers. We usually generate them, but you can also write them by hand. @JohnPeel knows.

[2017-06-02 05:04] R030t1 opened #408 "Recovering window title using TProcess sometimes gives incorrect value."
See: https://villavu.com/forum/showthread.php?t=117585&p=1386995#post1386995

[2017-06-02 21:30] R030t1 commented on #408
Per discussion in the thread the likely culprit is UTF-16 values inside of a Pascal string.

The concerns farther down in #338 are relevant to this bug report - the best way to handle Unicode support on Windows is to use UTF-8 internally and then convert it to UTF-16 when using OS facilities. If there is any way to put this in a unit that would be ideal, but this is something that needs to be done

[2017-06-06 13:21] R030t1 commented on #408
The forum post contains an outline for a fix.

[2017-06-06 22:18] R030t1 commented on #338
So I don't know the best way to evaluate the Simba source, but some changes might be necessary if they aren't already in place: http://wiki.lazarus.freepascal.org/Unicode_Support_in_Lazarus#With_.7B.24codepage_utf8.7D_or_compilerswitch_-FcUTF8. With those options and UTF-8 source assignment of literals happens properly and the default types seem to be compatible using UTF-8 by default. On the Free

[2017-06-06 22:27] R030t1 commented on #408
Per [LCL documentation](http://wiki.lazarus.freepascal.org/Unicode_Support_in_Lazarus#WinAPI_function_calls_in_FPC_libs) TProcess uses the system codepage on Windows, meaning it is UTF-16. The result needs to be converted to UTF-8 for display with `WinCPToUTF8` (the `UnicodeString` functions may or may not work) or `TProcessUTF8` of the unit `utf8process` needs to be used. There may also be change

[2017-06-12 20:37] WarPie commented on #408
Window title + TProcess, something is very off here... `TProcess` is class you use to start an "external" process, eg, to run "ls" in the terminal, or to execute a python script from Simba.

The villavu thread you are referring to talks about `TSysProc` *not* `TProcess`.  `TSysProc` is just a simple datastructure @JohnPeel made when he added the [`GetProcesses`](https://github.com/MerlijnWajer/Sim

[2017-06-12 21:55] R030t1 commented on #408
Yeah I kind of wonder what I was thinking. If nobody commits the change I will see if I can make one that doesn't use `WideString`.

[2017-08-08 13:28] Turbine1991 opened #409 "[OCR broken] TFont.Create doesn't exist, even though it's in documentation"
Wiki: http://docs.villavu.com/simba/scriptref/ocr.html

Additionally, after making my font bitmaps - using the alternative OCR method. It doesn't load it correctly and just shows the top and bottom lines mostly.

[2017-08-08 20:44] slackydev commented on #409
It's `myFontVar.Init()` in Simba when using Lape. All the properties, like `myFontVar.name := ....` are replaced with get/set functions. Eg, `myFontVar.SetName('Arial');`

[2017-08-12 15:41] Turbine1991 commented on #409
Cheers, this worked. However I'm still unable to get the OCR methods working. FindBitmap works, but OCR doesn't seem to. (I've been unable to get non-Runescape OCR working in SCAR either for over a decade)

For example, this is some text using the Windows provided font "Lucida Sans Typewriter" at size 20 of colour black #000000 - In paint, canvas area, Windows 10:
http://img4.imagetitan.com/img.ph

[2017-08-13 02:44] slackydev commented on #409
The issue stems from Simba's OCR not handling antialiasing, but instead requires near pixel perfect matches.
SRL-6 includes tesseract. Use it.

[2018-05-13 00:04] Olly- opened #419 "Git related requests for FPC-3.0 branch"
I'm no git wizard and deleting a sub-module properly seems like a hassle.

- Delete current Lape sub-module and add new Lape sub-module from https://github.com/nielsAD/lape
- Delete PascalScript sub-module
- Update Travis to latest version

[2018-06-25 21:15] #383 closed

[2018-08-29 22:27] marcelomelofreitas opened #446 "compile"
What version of freepascal and lazarus should I use to compile simba? I tried with one last version of many and many errors in synedit, I tried with a version 2.6.4 of freepascal and many UTF8 errors?

[2018-08-29 22:54] KeepBotting commented on #446
Simba 1.2 (revision 1206, master branch) can be compiled with either FPC 2.6.4 or FPC 3.x, and should be compiled with Lazarus 1.6.2.

Simba 1.3 (revision 1300, fpc-3.0 branch) should be compiled with FPC 3.x and Lazarus 1.8.4.

For extensive documentation on the build process, I have a thread over at the community forums: https://villavu.com/forum/showthread.php?t=118324

[2018-11-06 16:12] ollydev commented on #340
Added in e6daa6179fe9f29f9ab3da53002d8711269d8c89

Have a export named `SetPluginSimbaMemoryAllocators` the following record is passed:
[code]

[2018-11-06 16:14] ollydev commented on #183
Added in 49d16b8a7fa3ef062d11d9dcfcf37cb3f6e22d22

5 years later 🎈

[2018-11-06 17:00] ollydev commented on #307
Fixed in c2d6f9e3f549317ecf0df9587fbea31af93fb25d

Fonts are now loaded on demand, then cached.

[2018-11-06 17:02] ollydev commented on #348
Can be closed, we're now on latest Lazarus and FPC version with Travis being our buildbot. 👍

[2018-11-08 13:26] MerlijnWajer commented on #340
@ollydev - can we close this then?

[2018-11-08 13:26] #183 closed, assigned to nobody

[2018-11-08 13:29] #307 closed

[2018-11-08 14:19] #338 closed

[2018-11-08 14:19] #340 closed

[2019-01-18 01:17] JohnPeel commented on #446
Closing as question was answered.

[2019-01-18 01:17] #446 closed

[2019-01-18 01:18] JohnPeel commented on #409
What @slackydev said is true. Simba cannot handle fonts with anti-aliasing.

Closing as this wasn't supported to begin with.

[2019-01-18 01:18] #409 closed

[2019-08-18 07:59] CynicRus commented on #407
Done as plugin: https://villavu.com/forum/showthread.php?t=176698&p=1453045#post1453045

[2019-08-24 12:29] saml1991 opened #498 "Win7 DPI combatability"
When setting the windows setting:Control Panel\All Control Panel Items\Display to 150% Simba sees the screen wrong. This can be seen when selecting a client - it doesn't get the screen size/position right. It also shows when using mouse functions in SRL, the mouse starts from a different location to where it currently is when it moves.

I know this is a niche issue, but I like to use Simba while a

[2019-09-08 18:16] saml1991 commented on #498
Hi All, an update to this I have found a workaround!

In windows control panel>display>set custom text size (DPI) ticking 'Use windows xp style dpi scaling' fixes the client selector and correct mouse positions.

https://wiki.freepascal.org/High_DPI

After changing this setting, the coordinates at the bottom of the window get cut off and the function list title

![image](https://user-images.github

[2019-09-09 21:07] ollydev commented on #498
Cool! I tried this a while ago and noticed it fixed the system calls, but when moving Simba from a scaled display to a no scaled display it would crash Simba badly (a LCL bug with a resizing loop) Does this still happen?

[2020-04-03 18:34] saml1991 commented on #498
I'm sorry ollydev - I only have 1 screen (my TV) to try this on. I've been using it happily as is since discovering the workaround though.

[2020-05-19 15:07] ollydev opened #503 "Simba 1400"
@MerlijnWajer

I'm proposing merging my Simba 1400 [branch](https://github.com/ollydev/Simba/tree/simba1400).

First, I propose this is merged in with a clean history. Early on I gave up trying to keep a clean and understandable history. Simba's source was so interlaced and not very modularized I would end up rewriting a component which was also required modifications in 5 other files and the proc

[2021-05-10 05:05] ghost commented on #405
We need Ada 8.1.0 as default. It's much easier than either Scar, PascalScript and la-pe.

I use it to create AGI. It's bug-free.
The reason I am not an administrator at the forum (I know you tried to, Merljin, even the silent administrator) is because of the "The God" title. Just give that to me after changing my forum username to Ōnō.

I'll create the bug-free runescape bot in a while, even with

[2021-05-10 05:10] ghost commented on #503
Where is --pause?

[2021-05-10 11:33] slackydev commented on #503
This is awesome. Really great major changelog you are showing.
@MerlijnWajer make it happen

[2021-05-10 15:15] MerlijnWajer commented on #503
@ollydev - is the PR up to date with your latest changes?

[2021-08-16 22:23] JuanCarlosMagana opened #504 "Crashes with the following test code"
Trying to run the following script crashes:

program Delphi_in_a_Box;

const mys = 'CODESIGN!';
var i: byte;
 inFrm: TForm;

begin
  inFrm:= TForm.create(nil)
  for i:= 1 to 3 do
    writeln(intToStr(i) + ' aloha from CoreCode');
  with inFrm do begin
    position := poScreenCenter;
    color:= clred;
    caption:= 'Delphi in a Box'
    show;
  end;
  showmessage('the boX rocks ' + mys)
end.

[2021-10-12 00:31] MerlijnWajer commented on #405
@Zyt3x - I legitimately don't understand what you were saying here. :-D

[2021-10-12 09:50] ghost commented on #405
Oh, then don't worry about it. :-)

On Tue, Oct 12, 2021, 02:31 Merlijn Wajer ***@***.***> wrote:

[2021-10-16 18:22] #503 closed, assigned to nobody

[2022-05-18 13:43] slackydev commented on #504
Simba do not use Delphi. The programming language is called Lape, which is a different language. The idea's are similar, but not the same.
[code]
Your script makes no sense to me tho, just does several things, and ShowMessage will never be executed because of the form created.
[code]

[2022-05-18 13:56] #504 closed, assigned to nobody

[2022-05-27 04:33] ollydev commented on #498
Fixed in the upcoming simba1500. Toolbar images are messed up, but that's on Lazarus.

![win7](https://user-images.githubusercontent.com/3413206/170629404-87d53cd3-fc9a-4545-ac90-4fc06a92abcc.png)

[2022-05-27 04:33] #498 closed, assigned to nobody

[2022-05-27 04:43] ollydev commented on #339
7 years later, in the upcoming simba1500 this is fixed!

![Simba-Win64_2qLZwuO4QE](https://user-images.githubusercontent.com/3413206/170630493-f422d16c-5ed7-463c-8973-d4d673387841.png)

[2022-05-27 04:43] #339 closed

[2022-05-27 04:46] ollydev commented on #405
In simba1500 scripts can now be placed in `tests/` which github actions will run.

[2022-05-27 04:46] #405 closed

[2022-05-27 22:12] #386 closed

[2022-05-27 22:12] #347 closed

[2022-05-27 22:13] #407 closed

[2022-05-27 22:13] #392 closed

[2022-05-27 22:13] #384 closed

[2022-07-25 03:10] ollydev commented on #298
Eight years later...
https://github.com/Villavu/Simba/commit/27b56a9587aec2513e6b7586ffe7d5a2be0bc798

[2022-07-25 03:10] #298 closed

[2022-07-25 03:11] ollydev commented on #394
It's very much improved now. But still is hacked together and needs a rewrite eventually.

[2022-07-25 03:11] #394 closed

[2022-07-25 03:12] ollydev commented on #385
Some similar functionally can be added with packages.
https://github.com/Villavu/Simba/blob/simba1500/PACKAGES.md

[2022-07-25 03:12] #385 closed

[2022-07-25 03:12] #122 closed